


    <div class="mt-3 container" *ngIf="user">
        <div class="mb-3">
      <p  class="fs-4 text-success">firstName</p>
      <div class="fs-5 text-danger">{{user.firstName}}</div>
    </div>
    <div class="mb-3">
        <label class="fs-4 text-success">lastName</label>
        <div class="fs-5 text-danger">{{user.lastName}}</div>    
    </div>
    <div class="mb-3 ">
        <label class="fs-4 text-success">Age</label>
        <div class="fs-5 text-danger">{{user.Age}}   </div>
    </div>
    <div class="mb-3 ">
        <label class="fs-4 text-success">gender</label>
        <div class="fs-5 text-danger"> {{user.gender}}  </div>
    </div>   <div class="mb-3 ">
        <label class="fs-4 text-success">email</label>
        <div class="fs-5 text-danger"> {{user.email}}  </div>
    </div>
    </div>
