
<div class="mt-3 container" *ngIf="user">
   
    <div class="mb-3" >
        <input type="text" class="form-control text-secondary" [(ngModel)]="user.firstName" #firstName>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">lastName</label>
        <input type="text" class="form-control text-secondary" [(ngModel)]="user.lastName"  #lastName>
      </div> 
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Age</label>
        <input type="text" class="form-control text-secondary" [(ngModel)]="user.Age"  #Age>
      </div> <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">gender</label>
        <input type="text" class="form-control text-secondary" [(ngModel)]="user.gender" #gender >
      </div> <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">email</label>
        <input type="text" class="form-control text-secondary" [(ngModel)]="user.email"  #email>
      </div>
    <button type="submit" class="btn btn-primary" routerLink="/users" (click)="update(firstName.value,lastName.value,Age.value,gender.value,email.value)"
    >Submit</button>

</div>